---
// SPDX-FileCopyrightText: 2025 Severen Redwood <sev@severen.dev>
// SPDX-License-Identifier: AGPL-3.0-or-later

import Link from "@components/Link.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 — Severen Redwood">
  <h1>Are you lost?</h1>
  <p>
    The page you are looking for does not exist. Why don't you head back
    <Link href="/">home?</Link>
  </p>
</Layout>
