---
// SPDX-FileCopyrightText: 2025 Severen Redwood <sev@severen.dev>
// SPDX-License-Identifier: AGPL-3.0-or-later

import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import interWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="The personal website of Severen Redwood."
    />
    <meta name="author" content="Severen Redwood" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interWoff2}
      crossorigin="anonymous"
    />

    <title>{title}</title>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @view-transition {
    navigation: auto;
  }

  :root {
    color-scheme: light dark;

    /*
      The light and dark colours are taken from Catppuccin Latte and Catppuccin
      Mocha, respectively.
    */
    --background-color: light-dark(
      oklch(95.78% 0.0058 264.53deg),
      oklch(24.29% 0.0304 283.91deg)
    );
    --text-color: light-dark(
      oklch(43.55% 0.043 279.33deg),
      oklch(87.87% 0.0426 272.28deg)
    );
    --overlay-color: light-dark(
      oklch(60.09% 0.0305 278.69deg),
      oklch(68.65% 0.0374 274.73deg)
    );
    --accent-color-1: light-dark(
      oklch(66.38% 0.1751 273.13deg),
      oklch(76.64% 0.1113 259.88deg)
    );
    --accent-color-2: light-dark(
      oklch(55.05% 0.2155 19.81deg),
      oklch(75.56% 0.1297 2.76deg)
    );
    --scrollbar-size: 8px;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  @supports not selector(::-webkit-scrollbar) {
    html {
      scrollbar-width: var(--scrollbar-size);
      scrollbar-color: var(--accent-color-1) transparent;
    }
  }

  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      max-width: var(--scrollbar-size);
      max-height: var(--scrollbar-size);
    }

    ::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--accent-color-1);

      &:hover {
        background-color: oklch(from var(--accent-color-1) calc(0.9 * l) c h);
      }

      &:active {
        background-color: oklch(from var(--accent-color-1) calc(0.7 * l) c h);
      }
    }
  }

  *::selection {
    background-color: oklch(from var(--overlay-color) l c h / 30%);
  }

  body {
    font-family: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);

    /* Desktop */
    @media (width >= 1024px) {
      font-size: 1.25rem;
    }
  }

  main {
    margin: auto;
    max-width: 65ch;
    padding: 1rem;
  }

  p {
    hyphens: auto;
    text-align: justify;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  pre {
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--accent-color-1);
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  pre,
  code {
    font-family: "JetBrains Mono Variable", monospace;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;

      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
</style>
